In [1]:
# 处理节假日信息

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("aapl_no_dates.csv")

In [5]:
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [8]:
rng = pd.date_range(start='5/1/2017',end='5/21/2017',freq='B')
rng

DatetimeIndex(['2017-05-01', '2017-05-02', '2017-05-03', '2017-05-04',
               '2017-05-05', '2017-05-08', '2017-05-09', '2017-05-10',
               '2017-05-11', '2017-05-12', '2017-05-15', '2017-05-16',
               '2017-05-17', '2017-05-18', '2017-05-19'],
              dtype='datetime64[ns]', freq='B')

In [14]:
from pandas.tseries.holiday import AbstractHolidayCalendar , nearest_workday , Holiday

In [18]:
class myCalendar(AbstractHolidayCalendar):
    rules = [Holiday('五一',month=5,day=1),Holiday('mybirth',month=5,day=15)]
    
wuyi = CustomBusinessDay(calendar=myCalendar())

In [19]:
pd.date_range(start='5/1/2017',end='5/21/2017',freq=wuyi)

DatetimeIndex(['2017-05-02', '2017-05-03', '2017-05-04', '2017-05-05',
               '2017-05-08', '2017-05-09', '2017-05-10', '2017-05-11',
               '2017-05-12', '2017-05-16', '2017-05-17', '2017-05-18',
               '2017-05-19'],
              dtype='datetime64[ns]', freq='C')

In [20]:
# 埃及工作日   星期天--星期四

In [21]:
egypt_weekdays = "Sun Mon Tue Wed Thu"
b2 = CustomBusinessDay(weekmask=egypt_weekdays)
pd.date_range(start='5/1/2017',end='5/21/2017',freq=b2)

DatetimeIndex(['2017-05-01', '2017-05-02', '2017-05-03', '2017-05-04',
               '2017-05-07', '2017-05-08', '2017-05-09', '2017-05-10',
               '2017-05-11', '2017-05-14', '2017-05-15', '2017-05-16',
               '2017-05-17', '2017-05-18', '2017-05-21'],
              dtype='datetime64[ns]', freq='C')

In [22]:
pd.date_range(start='5/1/2017',end='5/21/2017',freq='B')

DatetimeIndex(['2017-05-01', '2017-05-02', '2017-05-03', '2017-05-04',
               '2017-05-05', '2017-05-08', '2017-05-09', '2017-05-10',
               '2017-05-11', '2017-05-12', '2017-05-15', '2017-05-16',
               '2017-05-17', '2017-05-18', '2017-05-19'],
              dtype='datetime64[ns]', freq='B')

In [26]:
from datetime import datetime
dt = datetime(2017,7,10)
dt

datetime.datetime(2017, 7, 10, 0, 0)

In [32]:
dt + 15*b2

Timestamp('2017-07-16 00:00:00')