In [1]:
import pandas as pd

In [2]:
# 使用csv 读取数据

In [3]:
df = pd.read_csv('weather_data.csv')

In [4]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [ ]:
# 读取excel

In [5]:
df = pd.read_excel('weather_data.xlsx',"Sheet1")

In [6]:
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [7]:
# 读取没有文件字段信息的csv格式

In [8]:
df = pd.read_csv('weather_data2.csv')

In [9]:
df

   1/1/2017  32  6   Rain
0  1/2/2017  35  7  Sunny
1  1/3/2017  28  2   Snow

In [10]:
df = pd.read_csv('weather_data2.csv')