In [1]:
import pandas as pd

In [2]:
# year period

In [3]:
y = pd.Period('2019')

In [4]:
y

Period('2019', 'A-DEC')

In [5]:
y.start_time

Timestamp('2019-01-01 00:00:00')

In [6]:
y.end_time

Timestamp('2019-12-31 23:59:59.999999999')

In [7]:
y.is_leap_year

False

In [8]:
y = pd.Period('2020')

In [9]:
y.is_leap_year

True

In [10]:
# 月周期

In [11]:
m = pd.Period('2019-05')

In [12]:
m

Period('2019-05', 'M')

In [13]:
m.start_time

Timestamp('2019-05-01 00:00:00')

In [14]:
m.end_time

Timestamp('2019-05-31 23:59:59.999999999')

In [15]:
m

Period('2019-05', 'M')

In [16]:
m+1

Period('2019-06', 'M')

In [17]:
# daily period

In [18]:
d = pd.Period('2019-07-10',freq='D')

In [19]:
d

Period('2019-07-10', 'D')

In [20]:
d+10

Period('2019-07-20', 'D')

In [21]:
d.start_time

Timestamp('2019-07-10 00:00:00')

In [22]:
# hourly period

In [23]:
h = pd.Period('2019-07-10 23:00:00',freq='H')

In [24]:
h

Period('2019-07-10 23:00', 'H')

In [25]:
h.end_time

Timestamp('2019-07-10 23:59:59.999999999')

In [26]:
h +5

Period('2019-07-11 04:00', 'H')

In [27]:
# quarterly period

In [36]:
q1 = pd.Period('2017q1',freq='q-dec')

In [37]:
q1

Period('2017Q1', 'Q-DEC')

In [38]:
q1.start_time

Timestamp('2017-01-01 00:00:00')

In [39]:
q1.end_time

Timestamp('2017-03-31 23:59:59.999999999')

In [40]:
q1.asfreq('M')

Period('2017-03', 'M')

In [41]:
q1.asfreq('M',how='start')

Period('2017-01', 'M')

In [42]:
q1.asfreq('M',how='end')

Period('2017-03', 'M')

In [43]:
w = pd.Period('2017-07-06',freq='W')

In [44]:
w

Period('2017-07-03/2017-07-09', 'W-SUN')

In [45]:
w-1

Period('2017-06-26/2017-07-02', 'W-SUN')

In [46]:
# period index

In [47]:
r = pd.period_range('2011','2017',freq='q')

In [48]:
r

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [50]:
r[0].start_time

Timestamp('2011-01-01 00:00:00')

In [51]:
r[0].end_time

Timestamp('2011-03-31 23:59:59.999999999')

In [54]:
r1 = pd.period_range('2011','2017',freq='m')

In [55]:
r1

PeriodIndex(['2011-01', '2011-02', '2011-03', '2011-04', '2011-05', '2011-06',
             '2011-07', '2011-08', '2011-09', '2011-10', '2011-11', '2011-12',
             '2012-01', '2012-02', '2012-03', '2012-04', '2012-05', '2012-06',
             '2012-07', '2012-08', '2012-09', '2012-10', '2012-11', '2012-12',
             '2013-01', '2013-02', '2013-03', '2013-04', '2013-05', '2013-06',
             '2013-07', '2013-08', '2013-09', '2013-10', '2013-11', '2013-12',
             '2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06',
             '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12',
             '2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
             '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
             '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
             '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
             '2017-01'],
            dtype='period[M]', freq='M')

In [56]:
# 数据案例

In [57]:
import numpy as np

In [59]:
ps = pd.Series(np.random.randn(len(r1)),r1)

In [60]:
ps

2011-01    0.950890
2011-02   -0.657369
2011-03   -0.602005
2011-04    2.259638
2011-05   -2.767691
2011-06    0.144283
2011-07    2.217950
2011-08    0.302777
2011-09   -1.302359
2011-10   -0.373302
2011-11   -0.706209
2011-12    0.233437
2012-01    1.850048
2012-02   -0.050973
2012-03   -0.415023
2012-04   -0.514182
2012-05    0.291195
2012-06    1.206791
2012-07    0.380980
2012-08    0.048035
2012-09   -0.177968
2012-10    0.456203
2012-11   -0.957577
2012-12   -0.717940
2013-01    0.241351
2013-02    0.371933
2013-03   -1.522838
2013-04    0.887347
2013-05    1.027492
2013-06   -1.651126
             ...
2014-08   -0.267121
2014-09    0.558521
2014-10    0.349640
2014-11   -0.376542
2014-12   -0.623315
2015-01   -0.255903
2015-02    0.035362
2015-03    0.190609
2015-04   -0.624972
2015-05   -0.679715
2015-06    1.487195
2015-07    0.660322
2015-08    0.210064
2015-09   -0.700065
2015-10    0.049894
2015-11    1.730531
2015-12   -1.159426
2016-01   -1.426407
2016-02   -0.196274
2016-03   -2.866330
2016-04   -0.173237
2016-05   -1.136998
2016-06   -1.036592
2016-07   -0.475809
2016-08    0.159556
2016-09    0.279677
2016-10   -0.560141
2016-11   -1.503433
2016-12   -0.697355
2017-01   -2.598187
Freq: M, Length: 73, dtype: float64

In [61]:
ps['2016']

2016-01   -1.426407
2016-02   -0.196274
2016-03   -2.866330
2016-04   -0.173237
2016-05   -1.136998
2016-06   -1.036592
2016-07   -0.475809
2016-08    0.159556
2016-09    0.279677
2016-10   -0.560141
2016-11   -1.503433
2016-12   -0.697355
Freq: M, dtype: float64

In [64]:
ps['2015-05':'2016-02']

2015-05   -0.679715
2015-06    1.487195
2015-07    0.660322
2015-08    0.210064
2015-09   -0.700065
2015-10    0.049894
2015-11    1.730531
2015-12   -1.159426
2016-01   -1.426407
2016-02   -0.196274
Freq: M, dtype: float64

In [65]:
# 使用wmt数据来演示效果

In [66]:
df = pd.read_csv("wmt.csv")

In [67]:
df.head()

  Line Item  2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
0   Revenue  115904  120854  118179  130936  117542
1  Expenses   86544   89485   87484   97743   87688
2    Profit   29360   31369   30695   33193   29854

In [68]:
df.set_index("Line Item", inplace=True)

In [69]:
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [75]:
df=df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [76]:
df.index=pd.PeriodIndex(df.index,freq='q-jan')

In [77]:
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [78]:
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [79]:
df.index[0]

Period('2017Q1', 'Q-JAN')

In [80]:
df.index[0].start_time

Timestamp('2016-02-01 00:00:00')

In [81]:
df.index[0].end_time

Timestamp('2016-04-30 23:59:59.999999999')

In [82]:
df['Start Date']= df.index.map(lambda x: x.start_time)

In [83]:
df['End Date']= df.index.map(lambda x: x.end_time)

In [84]:
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999

In [85]:
df.index=pd.PeriodIndex(df.index,freq='q-dec')

In [86]:
df['Start Date']= df.index.map(lambda x: x.start_time)
df['End Date']= df.index.map(lambda x: x.end_time)

In [87]:
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2016Q2      115904     86544   29360 2016-04-01 2016-06-30 23:59:59.999999999
2016Q3      120854     89485   31369 2016-07-01 2016-09-30 23:59:59.999999999
2016Q4      118179     87484   30695 2016-10-01 2016-12-31 23:59:59.999999999
2017Q1      130936     97743   33193 2017-01-01 2017-03-31 23:59:59.999999999
2017Q2      117542     87688   29854 2017-04-01 2017-06-30 23:59:59.999999999